// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{font-family: 'helvetica', sans-serif;}

td{
    background-color: #3D3D3D;
    color: green;
    padding: 1.1em;
    font-size: 2em;
}
